* {
    padding: 0%;
    margin: 0%;
    color: black;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    /* color: #545454; */
}

.mainlogo {
    height: 70px;
    width: 150px;
    cursor: pointer;
}

.navbar-collapse {
    flex-grow: inherit;
}

.navbaritems {
    column-gap: 2rem;
}

.dropdownnavbara a:hover {
    background-color: rgb(236, 236, 236);
    border-radius: 50px;
    /* padding: 0px 2px; */
}

.navbardropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    /* background-color: #555; */
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nav12 li:hover .navbardropdown {
    display: block;
}

.navbardropdown li:hover {
    position: relative;
    font-weight: bolder;
    cursor: pointer;
}

.navbarbutton {
    padding: 0px 32px;
    background: linear-gradient(to right, #f78da7 50%, blue 50%);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    border: none;
}

.Featuresdropdownimages img {
    height: 100%;
    width: 280px;
}

.dropdownmenuimage {
    display: flex;
    flex-direction: row;
}

.heroSection{
     background-color: rgb(251, 248, 248); 
}
.heroSectionheading h1 {
    font-size: 80px;
    font-weight: 600;
}

.heroBackgroundImage {
    height: 610px;
    /* width: 100%; */
    background-image: url('images/Group-189-1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 25px;
}

.heroBackgroundImage img {
    width: 215px;
    background-color: rgb(240 241 243 / 43%);
}

.herosectionimages img {
    width: 190px;
    margin-top: 172PX;
    background-color: rgba(255, 0, 0, 0.0);
}


.jupiterbox img {
    height: 55px;
    width: 55px;
    margin: 40px;
    border-radius: 15px;
    background-image: none;
    box-shadow: 0px 11px 20px 0px rgba(53.999999999999964, 18.99999999999999, 250, 0.25);
}

.jupiterbox h2 {
    font-size: 50px;
    font-weight: 900;
}

.jupiterbox p {
    font-weight: 700;
}

.jupiterforcards {
    height: 610px;
    background-image: url('images/image-3451.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.jupiterbox {
    height: 337px;
    width: 260px;
    border: 1px solid white;
    border-radius: 15px;
    padding: 17px 17px 18px 18px;
    background-image: none;
    box-shadow: 0px 11px 20px 0px rgba(53.999999999999964, 18.99999999999999, 250, 0.25);
}

.landingpage h1{
    font-size: 75px;
    font-weight: 900;
    text-align: center;
    color: #FC4CDA;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(270deg, #FC4CDA 0%, #3613FA 100%); 


}
.Jupiterlandingpage{
    height: 610px;
    background-image: url('images/image-831.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.Jupiterlandingpage p{
    font-size: 40px;
    font-weight: 700;
}
.Jupiterlandingpageimg{
    height: 550px;
    background-image: url('images/landing-page-showcase-background-1536x1027.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.Jupiterlandingpageimg video{
    /* height: 500px; */
    width: 500px;
    cursor: pointer;

}


.shopbuilder video{
    margin-top: 450px;
    width: 500px;
    cursor: pointer;

}
.shopbuilder h1{
    font-size: 30px;
    font-weight: 800;
    margin-top: 450px;
    color: #FF96AA;
}
.shopbuilder h2{
    margin-top: 21px;
    font-size: 60px;
    font-weight: 900;
}
.shopbuilder p{
    font-size: 23px;
    color: #5b5757;
}

.headerbuilder video{
    margin-top: 65px;
    width: 500px;
    cursor: pointer;

}
.headerbuilder h1{
    font-size: 30px;
    font-weight: 800;
    margin-top: 65px;
    color: #FF96AA;
}
.headerbuilder h2{
    margin-top: 30px;
    font-size: 55px;
    font-weight: 900;
}
.headerbuilder p{
    margin-top: 30px;
    font-size: 23px;
    color: #5b5757;
}
















::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.599);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(232, 57, 57);
    border-radius: 10px;
}